/* Common */
.mt {margin-top: 20px !important;}
.mr {margin-right: 20px !important;}
.mb {margin-bottom: 20px !important;}
.ml {margin-left: 20px !important;}
.mts {margin-top: 10px !important;}
.mrs {margin-right: 10px !important;}
.mbs {margin-bottom: 10px !important;}
.mls {margin-left: 10px !important;}
.mtn {margin-top: 0px !important;}
.mrn {margin-right: 0px !important;}
.mbn {margin-bottom: 0px !important;}
.mln {margin-left: 0px !important;}

.pt {padding-top: 20px !important;}
.pr {padding-right: 20px !important;}
.pb {padding-bottom: 20px !important;}
.pl {padding-left: 20px !important;}
.ptn {padding-top: 0px !important;}
.prn {padding-right: 0px !important;}
.pbn {padding-bottom: 0px !important;}
.pln {padding-left: 0px !important;}
.pts {padding-top: 10px !important;}
.prs {padding-right: 10px !important;}
.pbs {padding-bottom: 10px !important;}
.pls {padding-left: 10px !important;}

.section {
	height: 400px;
        color: #222;
        z-index: 1;        
}

.subMenu {
    width:100%;
    background: #0977bc;
    z-index: 100;
}

/*.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}*/


.subNavBtn {
	display: block;
	/*height: 35px;*/
	/*width: 10%;*/
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 10px 8px;
	text-align: center;
	
	color: #fff;
}
.subMenu a:hover {
	background: #1783c7;
}

.active {
	background: #25aae1;
}


/* SECTIONS */
.sTop {
	min-height: 130px;
        height: 200px;
	background:#fff;
	color:#3d3d3d;	
    }
.sTop_l {
        padding-top: 20px;
        padding-bottom: 20px;
    }

.sTop_r {
        min-height: 130px;
        height: 288px;
        background: #ffffff url(../../img/shop_front.png) left bottom;
    }
    
.s1 {
        
        background: #ffffff url(../../img/about_us.png) no-repeat right bottom;
}
p {
    color: #7D7D7D;
}


.s2 {
    color: #fff;
	background: #fff  url(../../img/diamonds.png) repeat-x right center;
}

.s3 {
        height: 330px !important;
	background: #fff  url(../../img/advice.jpg) no-repeat right bottom;
}
.s3 a {
	color: #000;
}

.s4 {
	background: #5aa3c4;
}

.s5 {
	background: #bce1f1;
	color: #3d3d3d;
}

.s6 {
	background: #161616;
}

//====================================                        
// Media queries.
//==================================== 

@media (max-width: 767px) and (orientation:portrait) { /* mobile portraite */


}

@media (max-width: 767px) and (orientation:landscape) { /* mobile landscape */

}

@media (max-width: 767px) { /* mobile portraite */
    .bgtrans {
        xheight: 100%;
        background-color: rgba(245, 245, 245, 0.8);
    }
    .sTop_l .email, .sTop_l .phone {font-size: 16px;}
    .sTop_l p {margin-top: 20px;}
    .s1 {
        font-size: 18px;        
    }
    .s1 .btn1 {}
    .s1 .btn2 {margin-bottom: 20px;}
    
}

@media (min-width: 768px) { /* iPad 2 portraite */
    .sTop_l .email, .sTop_l .phone {font-size: 24px;}
    .sTop_l p {margin-top: 30px;}
    
    
    
    .s1, .s2, .s3, .s4, .s5 {
        font-size: 18px;
    }
}

@media (min-width: 992px) { /* iPad 2 landscape */
    .s1 .btn1 {float:left;}
    .s1 .btn2 {float:right;}
}

@media (min-width: 1200px) { /* large width like monitor */

}


table.micro {
    font-size: 90%;
}

table.micro td.cnt {
    padding-right:5px;
    background-color: #c4c4c4;
    text-align: right;
}



